body {
    background: #202731 !important;
}

.nav-item .nav-link {
    color: #DFDDCE;
}

.nav-item .nav-link.disabled {
    color: #DFDDCE;
}

.nav-item .nav-link:hover {
    color: #99988d;
}

.rounded.mx-auto.d-block{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  opacity: 0.65;
  filter: alpha(opacity=40);
  clip-path: circle();
}

.rounded.mx-auto.d-block:hover {
        opacity: 1;
        filter: alpha(opacity=100);
}

#top{
    background: #9EBC9F;
    border-radius: 30px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    font-family: Ranade Variable;
    font-size: 38px;
    width: 800px;
}



#middle{
    background: #9EBC9F;
    border-radius: 30px;
    height: 450px;
}
/*
#bottom{
    background: #905731;
    height: 100px;
    width: 3000px;
}
*/

