<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/about_me.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header class="d-flex justify-content-end py-3 pe-5 fs-4 ">
      <ul class="nav nav-underline">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/portfolio" class="nav-link">Portfolio</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
      </ul>
    </header>

<div class='container-lg' id="top">
<!--    short text about me + circle picture-->
    <img src="static/about_picture.png" class="rounded mx-auto d-block" alt="picture_of_me">
    

<script src="three.r134.min.js"></script>
<script src="vanta.net.min.js"></script>
<script>
VANTA.NET({
  el: "#top",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  color: 0xa72351,
  backgroundColor: 0x291d41,
  points: 20.00,
  maxDistance: 12.00,
  spacing: 20.00
})
</script>


</div>

<!--<div class='container-lg' id="middle">-->
    <!--


    text about what I know + what I'm good at



    -->
<!--</div>-->



<!--<div class='container-lg' id="bottom">-->
    <!--



    message form cu alert



    -->
<!--</div>-->




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>